@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #111827;
  --card-background: #ffffff;
  --card-border: #e5e7eb;
  --subtle-foreground:#6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #ededed;
    --card-background: #334155;
    --card-border: #475569;
    --subtle-foreground:#94a3b8;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .nav-button {
    @apply flex items-center gap-2 p-3 hover:bg-gray-700 w-full justify-center group-hover:justify-start rounded-xl;
  }
  .section-title {
    @apply text-6xl font-bold mb-4;
  }
  .skill-card {
    @apply p-4 border rounded-xl text-center;
  }
  .main-card {
    @apply border p-6 pb-5 rounded-xl shadow;
  }
  .copy-button {
    @apply px-2 py-1 bg-gray-200 text-gray-800 rounded text-sm transition-colors duration-300 hover:bg-gray-400;
  }
  .code-block {
    @apply bg-gray-100 p-4 rounded text-sm mb-4;
  }
  .icon-contact{
    @apply h-5 w-5 text-gray-500;
  }
  .mission-statement {
    @apply border-l-4 pl-4 italic text-xl text-gray-900 dark:text-gray-400;
    border-color:#4f46e5;
  }
}
